<!--Footer-->
<hr> 

<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

    <!--Footer Links-->
    <div class="container text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-4">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">모카</h5>
                <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit.</p>
            </div>
            <!--/.First column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Second column-->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">모카 App</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">앱 소개 페이지 바로가기</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Third column-->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Blog</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">블로그 바로가기</a>
                    </li>
                </ul>
            </div>
            <!--/.Third column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Fourth column-->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">서베이</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">기업고객 설문 바로가기</a>
                    </li>
                </ul>
            </div>
            <!--/.Fourth column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <hr>

    <!--Social buttons-->
    <div class="text-center">
        <div class="footer-social-icon">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </div>
    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-bar">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-6">
			        <span class="footer-left">© 2018 Copyright:<a href="http://in-datalab.com"> in-DataLAB Co., Ltd.</a></span>
			    </div>
			    <div class="col-md-6">
			        <span class="footer-right"><a href="http://in-datalab.com/privacy.html"> 개인정보처리방침 </a>&nbsp;<a href="http://in-datalab.com/useragreement.html"> 이용약관 </a></span>
				</div>
			</div>
		</div>
	</div>
	    <!--/.Copyright-->
</footer>
<!--/.Footer-->